#define wxUSE_RC_MANIFEST 1
#define wxUSE_DPI_AWARE_MANIFEST 1

#include "wx/msw/wx.rc"

sleepy ICON "sleepy.ico"

button_next RCDATA "Button-Next.png"
button_prev RCDATA "Button-Previous.png"
button_download RCDATA "Button-Download.png"
button_refresh RCDATA "Button-Refresh.png"
button_profileall RCDATA "Button-ProfileAll.png"
button_profilesel RCDATA "Button-ProfileSel.png"
button_pause RCDATA "Button-Pause.png"
button_go RCDATA "Button-Go.png"
button_up RCDATA "Button-Up.png"
button_down RCDATA "Button-Down.png"
button_add RCDATA "Button-Add.png"
button_remove RCDATA "Button-Remove.png"
button_exportcsv RCDATA "Button-ExportCSV.png"

#include "../appinfo.h"
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_DIRTY
 PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_DIRTY
 FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      VENDOR   "\0"
			VALUE "FileDescription",  APPNAME  "\0"
			VALUE "FileVersion",      VERSION  "\0"
			VALUE "InternalName",     "sleepy" "\0"
			VALUE "LegalCopyright",   "Copyright (C) " VENDOR " and contributors" "\0"
			VALUE "OriginalFilename", "sleepy.exe" "\0"
			VALUE "ProductName",      APPNAME "\0"
			VALUE "ProductVersion",   VERSION "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
