---
BasedOnStyle: Microsoft
Language: Cpp
ColumnLimit: 80
UseTab: Always
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowAllConstructorInitializersOnNextLine: false
SortIncludes:
  Enabled: false
PackConstructorInitializers: NextLineOnly
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
